# This is ~duplicated in src/phpstan.neon, because otherwise phpstan invoked by
# syntastic only processes a single file and doesn't find functions defined in
# other files.
parameters:
  level: 8
  paths:
    - src
    - tests
